---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div>
	<img/>
	<main>
		<section>
			<p>Hello world</p>
			<!-- comment 2 -->
		</section>
	</main>

	
</div>

